# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore compiled output
/dist
/build

# Ignore __pycache__ directory in any subfolder:
**/__pycache__/

# Ignore .egg-info:
*.egg-info

# Ignore all .tmp files
*.tmp

# Ignore all _test files:
_test*